.content 
{
    width: 120px; height: 120px;
    border: 2px solid #000;
    float: left;
}
.a 
{
    overflow: visible;
}
.b 
{
    overflow: hidden;
}
.c 
{
    overflow: scroll;
}
.d 
{
    overflow: auto;
}
 