@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
}
.jc {
  justify-content: space-between;
}
.ai {
  align-items: center;
}
.gap {
  gap: 20px;
}
.p {
  padding: 15px 0;
}
.container 
{
    width: 1140px; margin: auto;
}
.social img 
{
    width: 20px;
}
.gap1 
{
    gap: 10px;
}
.ms 
{
    margin-left: 30px;
}
.self
{
    align-self: end;
    color: #1e046b;
}
.nav 
{
    border-top: 1px solid #000;
    padding: 15px 0;
    border-bottom: 2px solid #000;
}
.jaround
{
    justify-content: center;
    gap: 30px;
}
.nav a { color: #000;}
.block1-left
{
    width: 70%;
}
.block1-right
{
    width: 30%;
}
.w 
{
    width: 100%;
}
.small 
{
    font-size: 12px; color: #999;
}
.block1-top-50
{
    width: 50%;
}
.wrap
{
    flex-wrap: wrap;
}
.block1-bottom .block1-top-50
{
    width: 45%;
}